body {
    background-color: #EAF6F6;
}

hr {
    border-style: none;
    border-style: dotted none none none;
    border-color:grey;
    border-width: 5px; 
    width: 5%;
}

h1 {
    color:#3b6978;
    font: italic small-caps bold 40px/2 cursive;
}

h2 {
    color:#84a9ac;
    text-decoration: underline;
}
